/* letra dentro de la tabla */
table td {
    font-size: 13px;
    /* centrado verticalmente*/
    vertical-align: middle;
}
/* estilo para el titulo de la cabecera de la tabla */
table thead th {
    font-size: 14px;
    font-weight: bold;
    background-color: #494646;
    color: white;
}
    